.App {
  background-color: black;
  height: 100vmin;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
  position: absolute;
  top: 6%;
  left: 93%;
  display: inline-flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 80s linear; */
  }
}

.App-header {
  background-color: rgb(255, 167, 167);
  min-height: 10vh;
  display: flex;
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  position: absolute;
  top: 1%;
  left: 1%;
}

.new_task{
  position: absolute;
  left: 15%;
  color: white;
}

.tasks_title{
  position: relative;
  display: inline-block;
  color: white;
}

.tasks_chart{
  color:white;
}